{% extends 'quick_start/quick_start_base.html' %}

<title>{% block title %}Part1_2{% endblock %}</title>


{% block userinfo %}
<h1>This is Block Userinfo written in part_1_2.html</h1>
<h2>This is written in part1_2.html</h2>
<p>This is written in part1_2.html</p>
<div> {{ user.email }}</div>
{% endblock %}



{% block titleContent %}
    <h1 class = "blockTitle">This is block title in part1_2.html</h1>
{% endblock %}


{% block AccordionTitle %}
    Onboarding Assistent with Umbrella Corporation - This is the version of Alejandro's Cohort
    Lesson8, made with Flask, obviously. And this is in part1_2.html of course.
{% endblock %}

{% block Form1 %}
    {% from "playground/macros.html" import form_input %}
    {{ form_input( action = "lesson8", name="input_field_lesson8", id ="input_field_lesson8", text = "Do Me . .this is in part1_2.html") }}
 {% endblock %}









