{% extends 'quick_start/quick_start_base_2.html' %}

{% block title %}Part3 - Part 2: Enhancing the Chatbot with Tools {% endblock %}



{% block titleContentAndLink %}
{% from "playground/macros.html" import macro_title_and_link %}
{{ macro_title_and_link(title = "Part 3: Adding Memory to the Chatbot", link =
"https://langchain-ai.github.io/langgraph/tutorials/introduction/#part-3-adding-memory-to-the-chatbot")}}
{% endblock %}


{% block accordion %}
{% from "playground/macros.html" import macro_accordion %}
{{ macro_accordion(
title = "Part 3: Adding Memory to the Chatbot",
link = "https://langchain-ai.github.io/langgraph/tutorials/introduction/#part-3-adding-memory-to-the-chatbot",
img = "/graph_part3.jpeg",
body_content = "This is content in part3_2.This is ChatBot with Tools and Memory. We can see in graph, that we have a NodeTool and a MemorySaver. We should implement config parameter that takes care of storing memory in the same thread. Will store that thread in session."
)}}
{% endblock %}


{% block inputForm %}



    {% from "playground/macros.html" import form_input_3 %}



    {{ form_input_3(action = "quick_start", path="part3_2", name="input_field_graphPart3", id ="input_field_graphPart3", placeholder = "write something here")}}
{% endblock %}


{% block messagesDisplayed %}
<ul>

    {% for message in messages %}
    <li     {% if message.role=='ai' %} class="ai-message"
            {% elif message.role=='user' %} class="user-message"
            {% elif message.role=='tool' %} class="tool-message"
     {% endif %}>
        {{ message.content}}
    </li>
   
    {% endfor %}


</ul>
{% endblock %}