<!-- info.html -->

{% extends 'quick_start/quick_start_base.html' %}

{% block title %}Part 7{% endblock %}





{% block header %}
    <script src="{{ url_for('static', filename='js/part7.js') }}"></script>
{% endblock %}

{% block content %}
    <h1>This is Part 7</h1>
    <li id="currentTime"></li>


    <p>
        This is Part 7 of tutorial from
        <a href="https://langchain-ai.github.io/langgraph/tutorials/introduction/#part-7-time-travel">
            https://langchain-ai.github.io/langgraph/tutorials/introduction/#part-7-time-travel
        </a>
    </p>
    
    <p>Time Travel</p>
    
    
    <img src="{{ url_for('static', filename='images/graph_part7.jpeg') }}" />



    {% from 'quick_start/quick_start_base.html' import buttons %}
    {% from 'quick_start/quick_start_base.html' import buttons_p %}
    {{ buttons() }}
    {{ buttons() }}

    {{ buttons_p([
    {'name': 'Primary', 'type': 'primary'},
    {'name': 'Secondary', 'type': 'secondary'},
    {'name': 'Success', 'type': 'success'}
    ]) }}


    <div id="currentTime_2"></div>

<!--test form - we need name attribute for python and id attriute for js??-->
<!--<form action=" {{ url_for ('submit_form') }}" method="post">
    <div class="mb-3">

        <label for="exampleFormControlInput1" class="form-label">Enter the value.</label>

        <input type="text" class="form-control" id="exampleFormControlInput1" name="exampleFormControlInput1" placeholder="example@example.com">
    </div>
    <div class="text-center"> <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
-->


<form action=" {{ url_for ('submit_form') }}" method="post">
    <div class="mb-3">

        <label for="exampleFormControlInput7" class="form-label">Enter the value.</label>
        <p>I'm learning LangGraph. Could you do some research on it for me?</p>
        <input type="text" class="form-control" id="exampleFormControlInput7" name="exampleFormControlInput7"
            placeholder="paste here">
    </div>
    <div class="text-center"> <button type="submit" class="btn btn-primary">Stream Response here</button>
</div>
</form>






{% endblock %}





