{% extends 'quick_start/quick_start_base_2.html' %}

{% block title %}Part1 - Build a Basic Chatbot {% endblock %}



{% block titleContentAndLink %}
    {% from "playground/macros.html" import macro_title_and_link %}
    {{ macro_title_and_link(title = "Part 1: Build a Basic Chatbot", link = "https://langchain-ai.github.io/langgraph/tutorials/introduction/#part-1-build-a-basic-chatbot")}}
{% endblock %}


{% block accordion %}
    {% from "playground/macros.html" import macro_accordion %}
    {{ macro_accordion(
        title = "Part 1: Build a Basic Chatbot",
        link = "https://langchain-ai.github.io/langgraph/tutorials/introduction/#part-1-build-a-basic-chatbot",
        img= "/graph.jpeg"
    )}}
{% endblock %}


{% block inputForm %}
    {% from "playground/macros.html" import form_input_3 %}
    {{ form_input_3(action = "lesson8", name="input_field_lesson8", id ="input_field_lesson8", placeholder = "something")}}
{% endblock %}










