{% extends 'academy/academy_base.html' %}

{% block title %}Lesson11_mt {% endblock %}



{% block errMessage %}
{% if error %}
<p class="err">Error: {{ error }}</p>
{% else %}
<p>No error</p>
{% endif %}
{% endblock %}


{% block titleContentAndLink %}
{% from "playground/macros.html" import macro_title_and_link %}
{{ macro_title_and_link(title = "Lesson 7 - Agent with Memory", link =
"https://academy.langchain.com/courses/take/intro-to-langgraph/lessons/58239417-lesson-7-agent-with-memory")}}
{% endblock %}


{% block linkToMyColab %} <a
    href="https://colab.research.google.com/drive/1j8_1gWUqB8RD6sQdL6lRhhl9Dn0aT_Fd#scrollTo=ff8fc3bf-3999-47cb-af34-06b2b94d7192"
    target="_blank">MyColab</a>
{% endblock %}



{% block accordion %}
{% from "playground/macros.html" import macro_accordion %}
{{ macro_accordion(
title = "Agent with Memory LangGraph with Multiple tools",
link = "https://academy.langchain.com/courses/take/intro-to-langgraph/lessons/58239417-lesson-7-agent-with-memory",
img = "/ac_l6_Agent.png",
body_content = "Module1 - Lesson 6 We are building an Agent that has access tu
multiple tools. 3 functions. The graph is different now as tools are going back to llm node. Graph has a memory now.
If we want to see memory, we chould add config with threadId to invoke/stream.Check LangSmith for detailed trace."
)}}

{% endblock %}


{% block inputForm %}
{% from "playground/macros.html" import form_input_3 %}
{{ form_input_3(action = "api_academy_m1_l7", name="academy_m1_l7", id ="academy_m1_l7",
placeholder = "something")}}
{% endblock %}


{% block promptInstructions %}
<p class="prompt">Add 30 and 40. Multiply the output by 7. Divide the output by 4?</p>
<p class="prompt">Add 58 to that?</p>
<p class="sol">Model is now memory aware and it knows what 'that' means in this context. Check LangSmith.</p>
{% endblock %}


{% block messagesDisplayed %}
<ul>

    {% for message in messages %}
    <li {% if message.role=='ai' %} class="ai-message" {% elif message.role=='user' %} class="user-message" {% elif
        message.role=='tool' %} class="tool-message" {% endif %}>
        {{ message.content}}
    </li>

    {% endfor %}


</ul>
{% endblock %}