<!-- from https://github.com/codzsword/bootstrap-sidebar -->

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Al-Cohort - Lesson8</title>
    

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/socket.io/client-dist/socket.io.min.js" defer></script>
    <script src="https://kit.fontawesome.com/ae360af17e.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/al_cohort/lesson8.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lesson8.css') }}">

</head>

<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <aside id="sidebar">
            <div class="h-100">
                <div class="sidebar-logo">
                    <div class="userinfo">
                        <a href="#" class="d-flex align-items-center">
                            <img src="..." alt="User Avatar" class="rounded-circle me-2" width="20">
                            <h6>
                                {{ user.name }} {{ user.lastname }}
                            </h6>
                        </a>
                        <ul class="list-unstyled">
                            <li><strong>Email:</strong> {{ user.email }}</li>
                            <li><strong>Phone Number:</strong> {{ user.phone_number }}</li>
                            <li><strong>Position:</strong> {{ user.position }}</li>
                            <li><strong>Department:</strong> {{ user.department }}</li>
                            <li><strong>Location:</strong> {{ user.location }}</li>
                            <li><strong>Hire Date:</strong> {{ user.hire_date }}</li>
                            <li><strong>Supervisor:</strong> {{ user.supervisor }}</li>
                            <li><strong>Salary:</strong> {{ user.salary }}</li>
                        </ul>

                    </div>


                </div>
                <!-- Sidebar Navigation  . . . turned off, but only for example-->
                 <!--
                <ul class="sidebar-nav">
                    <li class="sidebar-header">
                        Tools & Components
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <i class="fa-solid fa-list pe-2"></i>
                            Profile
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#pages"
                            aria-expanded="false" aria-controls="pages">
                            <i class="fa-regular fa-file-lines pe-2"></i>
                            Pages
                        </a>
                        <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Analytics</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Ecommerce</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Crypto</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard"
                            aria-expanded="false" aria-controls="dashboard">
                            <i class="fa-solid fa-sliders pe-2"></i>
                            Dashboard
                        </a>
                        <ul id="dashboard" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Dashboard Analytics</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Dashboard Ecommerce</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#auth"
                            aria-expanded="false" aria-controls="auth">
                            <i class="fa-regular fa-user pe-2"></i>
                            Auth
                        </a>
                        <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Login</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Register</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-header">
                        Multi Level Nav
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#multi"
                            aria-expanded="false" aria-controls="multi">
                            <i class="fa-solid fa-share-nodes pe-2"></i>
                            Multi Level
                        </a>
                        <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#multi-two" aria-expanded="false" aria-controls="multi-two">
                                    Two Links
                                </a>
                                <ul id="multi-two" class="sidebar-dropdown list-unstyled collapse">
                                    <li class="sidebar-item">
                                        <a href="#" class="sidebar-link">Link 1</a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="#" class="sidebar-link">Link 2</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            -->
            </div>
        </aside>

        <!-- Main Component -->
        <div class="main">
            <nav class="navbar navbar-expand px-3 border-bottom">
                <!-- Button for sidebar toggle -->
                <button class="btn" type="button" data-bs-theme="dark">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>


            <!--Accordion for description-->
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            Onboarding Assistent with Umbrella Corporation - This is the version of Alejandro's Cohort Lesson8, made with Flask, obviously.
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>class <code>OnboardingAssistant_2</code></strong>
                            <ul>
                                <li>1. Main class for this is <code>OnboardingAssistant_2</code> in l8_helperz.py file</li>
                                <li>2. Data for employee information is in session['user'] - get's filled with firstrequest</li>
                                <li>3. Data for messages is in session['messages'] - function that is appending is <code>appendMessageToSessionMessages.</code></li>
                                <li>4. in main.py class is initialized outside/before the route, so that it is only called once</li>
                            </ul>
                            <strong>VectorStore - defined in init_vector_store_2</strong>
                            <ul>
                                <li>1. VectorStore is defined in function <code> init_vector_store_2 </code> in l8_helperz.py file </li>
                                <li>2. Content for that vectrorstore is in a file: data/umbrella_corp_policies.pdf</li>
                            </ul>
                            <strong>ToDo</strong>
                            <ul>
                                <li>1. css in file: <code>src/static/css/lesson8</code> . . make it beautifuler</li>
                                <li>2. js in file: <code>src/static/js/al_cohort/lesson8.js</code>. . add code here</li>
                                <li></li>
                                <li>maybe could apply socket insteasd of reloading a page after every request to the api</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>



            <main class="content px-3 py-2">
                <div class="container-fluid">
                    
                        <!--Messages displayed-->
                        <div>
                            <!--<h1>Messages</h1> displaying messages from route in python here-->
                            <ul>
                                {% for message in messages %}
                                <li {% if message.role=='ai' %} class="ai-message" {% elif message.role=='user' %} class="user-message" {% endif %}>
                                    {{ message.content}}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        
                        <!-- here should be input box-->
                        <form action=" {{ url_for ('lesson8') }}" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" name="input_field_lesson8" id="input_field_lesson8"
                                    placeholder="Enter your input">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>


                        <div>

                        </div>

                </div>
            </main>
        </div>



    </div>







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>