{% extends 'al_cohort/al_cohort_base.html' %}

{% block title %}Lesson11_mt {% endblock %}



{% block titleContentAndLink %}
{% from "playground/macros.html" import macro_title_and_link %}
{{ macro_title_and_link(title = "Lesson 11 - ReactAgent in LangGraph", link =
"https://app.alejandro-ao.com/lessons/langgraph-agents/")}}
{% endblock %}


{% block linkToMyColab %} <a href="https://colab.research.google.com/drive/19nUtybjSxdllBElZ6UqfglyKXIxc3GMn#scrollTo=ftyWDR5rxMn4" target="_blank">MyColab</a> {% endblock %}



{% block accordion %}
{% from "playground/macros.html" import macro_accordion %}
{{ macro_accordion(
title = "ReactAgent in LangGraph with Multiple tools",
link = "https://app.alejandro-ao.com/topics/build-a-react-agent-in-langgraph/",
img = "/graphLesson11_1.png",
img2 = "/graphLesson11_4.jpeg",
body_content = "Lesson 11 from Al Cohort. Use of ReAct Agent in LangGraph. We are building an Agent that has access tu multiple tools.
2 functions - get_temperature and convert_to_fahrenheit. The graph is different now as tools are going back to llm node. 
There should be multiple(2) Tool Messages.
Check LangSmith for detailed trace."
)}}

{% endblock %}


{% block inputForm %}
{% from "playground/macros.html" import form_input_3 %}
{{ form_input_3(action = "api_lesson11_mt", name="lesson11_mt", id ="lesson11_mt",
placeholder = "something")}}
{% endblock %}


{% block promptInstructions %}
    <p class="prompt">What is the weather in New York in Fahrenheit?</p>
{% endblock %}


{% block messagesDisplayed %}
<ul>

    {% for message in messages %}
    <li {% if message.role=='ai' %} class="ai-message" {% elif message.role=='user' %} class="user-message" {% elif
        message.role=='tool' %} class="tool-message" {% endif %}>
        {{ message.content}}
    </li>

    {% endfor %}


</ul>
{% endblock %}